<div class="row">
  <%= simple_form_for @task do |t| %>
  <div class="col-md-6">
   <%= t.input :task_name %>
  <%= t.input :task_due %>
  <%= t.input :task_frequency, :collection => ['Weekly', 'Monthly', 'Quarterly', 'Annual'] %>
  
  <%= t.button :submit %>
  </div>
</div>

<% end %>