<div class="row">
  <%= simple_form_for @task do |t| %>
  <div class="col-md-6">
   <%= t.input :task_name %>
  <%= t.input :task_due %>
  <%= t.input :task_frequency, :collection => ['Weekly', 'Monthly', 'Quarterly', 'Annual'] %>
  <%= t.association :client, label_method: :client_name, required: true %>
  <%= t.input :task_status, :collection => ['Not Started', 'In Progress', 'Missing Information', 'Ready for Review', 'Complete'] %>
  <%= t.button :submit %>
  </div>
</div>

<% end %>