<div class="row">
  <%= simple_form_for @task do |t| %>
  <div class="col-md-6">
  <%= t.input :task_status, :collection => ['Not Started', 'Books-ready for review', 'Books-clear review pts', 'Tax-info received', 'Tax-ready for review', 'Tax-clear points', 'Tax-send 8879', 'Tax-ready to bill']  %>
  <%= t.input :task_assigned_to, :collection => User.all, :label_method => :user_name, :label_value => :user_name %>
  <%= t.input :schedule, :collection => ['Week 1', 'Week 2', 'Week 3', 'Week 4', 'Every Week', 'Quarterly', 'Annual'], required: true %>
  </div>
  <div class="col-md-6">
  <%= t.input :task_frequency, :collection => ['Books Weekly', 'Books Monthly', 'Books Quarterly', 'Tax Annual', 'Payroll Bi-Weekly', 'Payroll Monthly'] %>
  <%= t.input :task_due %>
  <%= t.input :project_size, :collection => [15, 30, 60, 90, 120, 180, 240 ], required: true %>
  </div>
  <%= t.button :submit, class: "btn-primary" %>
</div>

<% end %>