<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-3">
    <h2>Tasks</h2>
  </div>
  
    <div class="form-inline">
      <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
        <div class="search-container container-fluid">  
          <%= search_form_for @search do |f| %>
          <%= f.search_field :task_name_cont, class: "form-control", placeholder: "Search Task Name" %>
          <%= f.submit class: "btn btn-default" %> <%= link_to "Clear Search", request.path, class: "btn btn-danger" %>
          <% end %>
        </div>
      </div>
    </div>
  <div class="col-xs-12 col-sm-6 col-md-2">
    <%= link_to "New Task", new_task_path, class: "btn btn-primary" %>
  </div>
</div>

<div class="well-trans">
  <table class="table table-hover">
    <thead>
      <tr>
        <td><strong><%= sort_link(@search, :task_name, 'Task Name', default_order: :desc) %></strong></td>
        <td><strong>Business</strong></td>
        <td><strong>Client</strong></td>
        <td><strong>Staff Assignment</strong></td>
        <td><strong>Status</strong></td>
        <td><strong>Schedule</strong></td>
        <td><strong><%= sort_link(@search, :task_due, 'Task Due Date', default_order: :desc) %></strong></td>
        <td><strong>Project Size</strong></td>
      </tr>
    </thead>
    <% @task.each do |task| %>
      <tr>
        <td><%= link_to task.task_name, task %></td>
        <td><%= link_to Client.find(task.client_id).business_name, client_path(task.client_id) %></td>
        <td><%= link_to Client.find(task.client_id).client_name, client_path(task.client_id) %></td>
        <td><%= task.user_id_conversion %></td>
        <td><%= task.task_status %></td>
        <td><%= task.schedule %></td>
        <td><%= task.task_due.strftime('%b %d %Y') %></td>
        <td><%= task.project_size %> Minutes</td>
      </tr>
    <% end %>
  </table>
</div>    