<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-10">
    <h2>Tasks</h2>
  </div>
  <%= link_to "New Task", new_task_path, class: "btn btn-primary" %>
</div>

<div class="well-trans">
  <table class="table table-hover">
    <thead>
      <tr>
        <td><strong>Task Name</strong></td>
        <td><strong>Client</strong></td>
        <td><strong>Staff Assignment</strong></td>
        <td><strong>Status</strong></td>
        <td><strong>Task Due Date</strong></td>
      </tr>
    </thead>
    <% @task.each do |task| %>
      <tr>
        <td><%= link_to task.task_name, task %></td>
        <td><%= Client.find(task.client_id).client_name %></td>
        
        <td>Nick Boyd</td>
        <td><%= task.task_status %></td>
        <td><%= task.task_due %></td>
        <td>Button Here</td>
      </tr>
    <% end %>
  </table>
</div>    