<h2>User Profile & Settings</h2>
<h3><%= current_user.user_name %></h3>

<div class="col-md-5">  
  <%= simple_form_for @user do |f| %>
  <%= f.input :user_name %>
  <%= f.input :other_staff_1, :collection => User.all, :label_method => :user_name, :label_value => :user_name %>
  <%= f.input :other_staff_2, :collection => User.all, :label_method => :user_name, :label_value => :user_name %>
  <%= f.input :other_staff_3, :collection => User.all, :label_method => :user_name, :label_value => :user_name %>
  <%= f.input :other_staff_4, :collection => User.all, :label_method => :user_name, :label_value => :user_name %>
  <%= f.button :submit %>
  
  <% end %>
</div>

<h1>Users</h1>

<%= link_to "All Users", :action => "index" %>
|
<%= link_to "Users awaiting approval", :action => "index", :approved => "false" %>

