
<div class="row">
  <%= simple_form_for @client do |f| %>
  <div class="col-md-6">
   <%= f.input :client_name %>
  <%= f.input :business_name %>
  <%= f.input :business_type, :collection => ['S-corp', 'Partnership', 'Sole Proprietor'] %>
  <%= f.input :bookkeeping_schedule, :collection => ['Weekly', 'Monthly', 'Quarterly'] %>
  <%= f.input :payroll_schedule, :collection => ['Weekly', 'Bi-weekly', 'Monthly', 'Quarterly'] %>
  <%= f.input :tax_projected %> 
  <%= f.input :primary_email %>
  <%= f.input :secondary_email %>
  </div>
  <div class="col-md-6">
   <%= f.input :street_address %>
  <%= f.input :street_address_2 %>
  <%= f.input :city %>
  <%= f.input :state %>
  <%= f.input :zip %>
  
  <%= f.input :primary_phone %>
  <%= f.input :secondary_phone %> 
  <%= f.button :submit %>
  </div>
</div>

<% end %>


