<div class="container-fluid">
  <div class="row row-under">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8">
      <h2><%=@client.client_name %> | <%= @client.business_name %></h2>
    </div>
    <div class="col xs-12 col-sm-9 col-md-6 col-lg-4">
    <%= link_to "Client List", clients_path, class: "btn btn-primary" %>
    <%= link_to "Edit Client", edit_client_path(@client), class: "btn btn-success" %>
    <%= link_to "Delete Client", client_path(@client), class: "btn btn-danger", method: :delete, data: { confirm: "Are you sure?"}  %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Client Contact Information</h3>
      </div>
      <div class="panel-body">
        <div class="col-md-6">
          <div class="col-md-4">
            <h5>Client Name:</h5>
            <h5>Address:</h5>
          </div>
          <div class="col-md-8">
            <h5><%= @client.client_name %></h5>
            <h6><%= @client.street_address %></h6>
            <h6><%= @client.street_address_2 %></h6>
            <h6><%= @client.city %> <%= @client.state %> <%= @client.zip %></h6>
          </div>
        </div> 
        <div class="col-md-6">
          <div class="col-md-6">
            <h5>Business Name:</h5>
            <h5>Business Type:</h5>
            <h5>Email Address:</h5>
            <h5>Telephone Number:</h5>
          </div>
          <div class="col-md-6">
            <h5><%= @client.business_name %></h5>
            <h5><%= @client.business_type %></h5>
            <h6><%= mail_to @client.primary_email %></h6>
            <h6><%= @client.primary_phone %></h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-med-6 col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Upcoming Tasks</h3>
      </div>
      <div class="panel-body">
        <table class="table">
          <thead>
            <tr>
              <th>Task Name</th>
              <th>Due Date</th>
              <th>Staff Assignment</th>
              <th>Task Status</th>
              <th>Task Frequency</th>
            </tr>
          </thead>
          <tbody>
         <% Task.where(client_id: @client.id).all.each do |task| %> 
          <tr>
            <td class="col-md-2"><%= link_to task.task_name, task %></td>
            <td class="col-md-2"><%= task.task_due.strftime('%b  %d  %Y') %></td>
            <td class="col-md-2"><%= task.task_assigned_to %></td>
            <td class="col-md-2"><%= task.task_status %></td>
            <td class="col-md-2"><%= task.task_frequency %></td>
          </tr>
        <% end %>
        </tbody>
        </table>
        <%= link_to "New Task", new_task_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Client Schedules</h3>
      </div>
      <div class="panel-body">
        <div class="col-md-6">
          <h5>Bookkeeping Schedule:</h5>
          <h5>Payroll Schedule:</h5>
          <h5>Business Tax Return:</h5>
          <h5>Business Tax Return Status:</h5>
          <h5>Personal Tax Return Status:</h5>
        </div>
        <div class="col-md-6">
          <h4><%= @client.bookkeeping_schedule %></h4>
          <h4><font color="#3291B5"><%= @client.payroll_schedule %></font></h4>
          <h4><%= @client.return_type %></h4>
          <h4><%= @client.display_business_tax_status %></h4>
          <h4><%= @client.display_personal_tax_status %></h4>
          
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Tax Planner</h3>
      </div>
      <div class="panel-body">
        <div class ="well well-danger">
          <h3 >$<%= @client.tax_projected %>.00</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Client Documents</h3>
      </div>
      <div class="panel-body">
      </div>
    </div>
  </div>
</div>


<div class="dropdown">
  <button onclick="myFunction()" class="dropbtn">Tax Return Status<span class="caret"></span></button>
  <div id="myDropdown" class="dropdown-content">
    <a href="#">No Activity</a>
    <a href="#">Information Received</a>
    <a href="#">Staff Preparation</a>
  </div>
</div>
