<p id="notice"><%= notice %></p>

<h1>Listing Ragains</h1>

<table>
  <thead>
    <tr>
      <th>Guy</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ragains.each do |ragain| %>
      <tr>
        <td><%= ragain.guy %></td>
        <td><%= link_to 'Show', ragain %></td>
        <td><%= link_to 'Edit', edit_ragain_path(ragain) %></td>
        <td><%= link_to 'Destroy', ragain, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ragain', new_ragain_path %>
